.header{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 0.2%;
    color: brown;
}

.container-fluid{
    width: 100%;
    background-color: lightgrey;
    display:inline-flex;
}

#image_profile{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#info-text{
    display: flex;
    justify-content: flex-end;

}

