body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(141, 103, 103, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
  .circle img {
    position: 0;
    bottom: 0;
    width: 100%;
  }
h1 {
    color: brown;
}
.update-info {
    color: rgb(127, 119, 119);
    font-size: 12px;
}
h2 {
    color: rgb(0, 0, 0);
}
.contact-info p,
.contact-info a {
    margin: 5px 0;
    color: rgb(0, 0, 0);
}
.social-links a {
    color: brown;
    text-decoration: none;
    margin: 0 5px;
}

.hobbies ul{
    list-style: none;
    padding-left: 0%;
}

.hobbies li{
    padding: 1%;
}

.hobbies h4{
    color: brown;
}

.summary h3 {
    color: brown;
    margin-top: 20px;
}

.summary p {
    color: black;
    margin: 5px;

}
    